.contact-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contact-text10 {
  display: inline-block;
}
 
.contact-text11 {
  display: inline-block;
}
 
.contact-text12 {
  display: inline-block;
}
 
.contact-text13 {
  display: inline-block;
}
 
.contact-text14 {
  display: inline-block;
}
 
.contact-text15 {
  display: inline-block;
}
 
.contact-text16 {
  display: inline-block;
}
 
.contact-text17 {
  display: inline-block;
}
 
.contact-text18 {
  display: inline-block;
}
 
.contact-text19 {
  display: inline-block;
}
 
.contact-text20 {
  display: inline-block;
}
 
.contact-text21 {
  display: inline-block;
}
 
.contact-text22 {
  display: inline-block;
}
 
.contact-text23 {
  display: inline-block;
}
 
.contact-text24 {
  display: inline-block;
}
 
.contact-text25 {
  display: inline-block;
}
 
.contact-text26 {
  display: inline-block;
}
 
.contact-text27 {
  display: inline-block;
}
 
.contact-text28 {
  display: inline-block;
}
 
.contact-text29 {
  display: inline-block;
}
 
.contact-text30 {
  display: inline-block;
}
 
.contact-text31 {
  display: inline-block;
}
 
.contact-text32 {
  display: inline-block;
}
 
.contact-text33 {
  display: inline-block;
}
 
.contact-text34 {
  display: inline-block;
}
 
.contact-text35 {
  display: inline-block;
}
 
.contact-text36 {
  display: inline-block;
}
 
.contact-text37 {
  display: inline-block;
}
 
.contact-text38 {
  display: inline-block;
}
 
.contact-text39 {
  display: inline-block;
}
 
.contact-text40 {
  display: inline-block;
}
 
.contact-text41 {
  display: inline-block;
}
 
.contact-text42 {
  display: inline-block;
}
 
.contact-text43 {
  display: inline-block;
}
 
.contact-text44 {
  display: inline-block;
}
 
.contact-text45 {
  display: inline-block;
}
 
.contact-text46 {
  display: inline-block;
}
 
.contact-text47 {
  display: inline-block;
}
 
.contact-text48 {
  display: inline-block;
}
 
.contact-text49 {
  display: inline-block;
}
 
.contact-text50 {
  display: inline-block;
}
 
.contact-text51 {
  display: inline-block;
}
 
.contact-text52 {
  display: inline-block;
}
 
.contact-text53 {
  display: inline-block;
}
